.formController{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.formController label{
    margin-bottom: .6em;
    font-weight: bold;
}

.formController input{
    padding: .7em;
    border-radius: 0;
    border: none;
}

.formController input::placeholder{
    color: #7b7b7b;
}